*{
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
  }
  
  body{
    font-family: sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    
  }
  .slider{
    width: 100%;
    height: 800px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 667px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: 45px;
    padding-left: 742px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 545px;
    padding-left: 742px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }

  .feature{
      background-color: #252E30;
      width: 100%;
      height: 57px;
      position: absolute;
      margin-top: -190px;
  }
        
  .feature img{
    float: left;
    width: 44px;
    height: 36px;
    padding-top: 11px;
    padding-left: 215px;
    
    
}
.feature h3{
    padding-left: 263px;
    font-size: 26px;
    padding-top: 13px;
    
}
.feature h4{
    padding-left: 497px;
    margin-top: -35px;
    font-size: 12px;
    padding-top: 13px;
}
.feature h4 a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-right: 33px;
    
    
}
.feature h4 a:hover {
    color: #2A8252;
    
  }
  .nabdown{
    width: 459px;
    margin-top: -43px;
    overflow: hidden;
  }
.nabdown h1{
    padding-left: 179px;
    margin-bottom: 30px;

}
.nabdown p{
    margin-left: 179px;
}
.nabdown1{
    width: 459px;
    padding-left: 350px;
    margin-top: -120px;
    overflow: hidden;
  }
.nabdown1 h1{
    padding-left: 179px;
    margin-bottom: 30px;

}
.nabdown1 p{
    margin-left: 179px;
}
.nabdown2{
    width: 459px;
    padding-left: 711px;
    margin-top: -120px;
    overflow: hidden;
  }
.nabdown2 h1{
    padding-left: 179px;
    margin-bottom: 30px;

}
.nabdown2 p{
    margin-left: 179px;
}
.imgadd{
    background-color: #F2F2F1;
    margin-top: 62px;
    height: 450px;
    text-align:justify;
  word-break:keep-all;
}
.imgadd img{
    float: left;
    
}
.imgadd h1{
    padding-top: 68px;
    padding-left: 429px;
}
.imgadd p{
    width: 871px;
    padding-left: 427px;
    padding-top: 40px;
}
.imgaddsub{
    float: left;
    margin-top: -176px;
    padding-left: 53px;
    width: 250px;

}
.imgaddsub img{
    float: left;
}
.imgaddsub h3{
    padding-left: 52px;
}
.imgaddsub p{
    padding-left: 52px;
    padding-top: 10px;
}
.imgaddsub1{
    float: left;
    margin-top: -176px;
    padding-left: 396px;
    width: 250px;

}
.imgaddsub1 img{
    float: left;
}
.imgaddsub1 h3{
    padding-left: 52px;
}
.imgaddsub1 p{
    padding-left: 52px;
    padding-top: 10px;
}
.imgaddsub2{
    float: left;
    margin-top: -83px;
    padding-left: 53px;
    width: 250px;

}
.imgaddsub2 img{
    float: left;
}
.imgaddsub2 h3{
    padding-left: 52px;
}
.imgaddsub2 p{
    padding-left: 52px;
    padding-top: 10px;
}
.imgaddsub3{
    float: left;
    margin-top: -83px;
    padding-left: 396px;
    width: 250px;

}
.imgaddsub3 img{
    float: left;
}
.imgaddsub3 h3{
    padding-left: 52px;
}
.imgaddsub3 p{
    padding-left: 52px;
    padding-top: 10px;
}
.skils{
    text-align: justify;
    word-break: keep-all;
    margin-top: 89px;
    width: 326px;
    margin-left: 157px;
}
.skils h1{

}
.skils p{
    padding-top: 35px;
}
.button {
    background-color: #2ECC71; /* Green */
    border: none;
    color: #2ECC71;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: #2ECC71;
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
.progress{
    width: 575px;
    margin-left: 666px;
    margin-top: -264px;
    
}
  .progress #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  .progress #myBar {
    width: 90%;
    height: 23px;
    background-color: #4CAF50;
    text-align: right;
    line-height: 26px;
    color: white;
    margin-top: 8px;
  }
  .progress #myBar1 {
    width: 80%;
    height: 23px;
    background-color: #4CAF50;
    text-align: right;
    line-height: 26px;
    color: white;
    margin-top: 8px;
  }
  .progress #myBar2 {
    width: 90%;
    height: 23px;
    background-color: #4CAF50;
    text-align: right;
    line-height: 26px;
    color: white;
    margin-top: 8px;
  }
  .progress #myBar3 {
    width: 70%;
    height: 23px;
    background-color: #4CAF50;
    text-align: right;
    line-height: 26px;
    color: white;
    margin-top: 8px;
  }
  .resume{
    margin-top: 58px;
    background-color: #F2F2F1;
    height: 300px;
  }
  .resume h1{
    text-align: center;
    padding-top: 84px;
  }
  .resume p{
    width: 898px;
    padding-left: 258px;
    padding-top: 37px;
  }
  .resume span{
    padding-left: 488px;

  }
  .resume .button {
    background-color: #2ECC71; /* Green */
    border: none;
    color: #2ECC71;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 556px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .resume .button1 {
    background-color: white; 
    color: #2ECC71;
    border: 2px solid #4CAF50;
  }
  
  .resume .button1:hover {
    background-color: #4CAF50;
    color: white;
  }